// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
margin:0;
padding:0;
}

body {
  margin: 0;
  font-family: $Raleway;
  font-weight: 300;
  background-color: $peach;
  color: $blue;
}

.quote {
  font-family: $grover;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.quote__name {
  font-family: $Raleway;
  font-weight: lighter;
  margin-bottom: 50px;
  letter-spacing: 0;
  font-size: 2rem;
}

.nav-bar {
  max-width: 100%;
  color: $peach;
  height: 250px;
  margin-top: 0;
  // position: relative;
}

.nav-bar::before {
  content: "";
  background-image: url('background-img.jpg');
  background-repeat: none;
  background-position: center;
  position: absolute;
  opacity: .75;
  width: 100%;
  height: 250px;
}

.nav-bar__links {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.nav_link {
  padding: 18px 32px;
  text-transform: uppercase;
  color: $peach;
  font-size: 1.5rem;
  font-weight: 600;
}

.h1__home {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #EC5656;
  font-size: 3rem;

}

.hero-section  {
  display: grid;
  justify-items: center;
  align-items: center;
  background-position: center;
  margin-top: 80px;
  // width: 100%;
}

.hero {
  background-color: $peach;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  row-gap: 16px;
  margin: 0 auto;
  height: 350px;
}

.hero__h3 {
  grid-column:  1 / span 2;
  text-align: center;
  font-size: 2rem;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.steps_container {
  margin: 60px auto;
}

.steps_container--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  grid-column-gap: 1.5rem;
}

.paint-splash-img {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  color: $peach;
}

.steps__text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact_form_section {
  margin: 0 auto;
  background-color: #094B87;
  color: $peach;
}

.contact_form {
  display: grid;
  justify-content: center;
  margin: 100px 0;
  padding: 24px;
}

.contact-form-text-area {
  width: 100%;
  border-radius: 4px;
  border: none;
}

.form_label {
  margin-top: 18px;
  margin-bottom: 0px;
}

footer {
  color: $peach;
  background: $blue;
  bottom: 0;
  height: 3rem;
}

