.section__login {
  display: grid;
  justify-content: center;
  margin: 50px 0;
  padding: 24px;
}

.simple_form {
  .login__input_field {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 2px;
    outline: none;
  }
  label {
    margin-top: 18px;
    color: $blue;
  }
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 400px;
}

.btn__login {
  background-color: $pink;
  margin-bottom: 18px;
}
