.flex-container {
  display: flex;
  justify-content: space-around;
  margin: 32px 0;
}

.circle-container {
    // display: grid;
  .tutoring__h2 {
    margin-top: 48px;
    font-weight: $semibold600;
  }
}

.circle-container-75 {
  display: grid;
  .tutoring__h2 {
    margin-top: 48px;
    font-weight: 600;
  }
}

.circle-yellow {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: $yellow;
  border-radius: 50%;
}

.number {
  position: absolute;
  font-size: 100px;
  font-weight: $semibold600;
  left: calc(50% - 20px/2);
  top: calc(50% - 120px/2);
}

.parent-div {
  display: flex;
}

.dotted-line {
  margin: 0 8px;
  width: 150px;
  align-self: center;
  border-color: $blue;
  border-width: 2px;
  border-style: dashed none none none;
}

.dotted-line-100 {
  width: 100%;
  align-self: center;
  border-color: $blue;
  border-width: 2px;
  border-style: dashed none none none;
}

.tutoring__h3 {
  font-weight: 600;
}

.flex-container__pricing-75 {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.flex-container__pricing {
    display: flex;
    margin: 32px 0;
  h4 {
    // margin-top: 48px;
    font-weight: $semibold600;
  }
}

.number__pricing {
  position: absolute;
  font-size: 72px;
  font-weight: $semibold600;
  left: calc(50% - 36px/2);
  top: calc(50% - 72px/2);
}
