  <!-- footer -->
  <div id="footer" class=" container-fluid py-3">
    <div class="copyright ">
    <i class="far fa-copyright"></i> 2020 Copyright: Teacher In Tech
    </div>
    <ul>
      <li class="footer__li mx-2">Testimonials</li>
      <li class="footer__li mx-2">Contact</li>
      <li class="footer__li mx-2">Log In</li>
    </ul>
  </div>
