<nav class="nav-bar ">
  <div class="nav-bar__links">
    <%= link_to "Home", root_path, class: "nav_link" %>
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav_link") %>
    <% else %>
    <%= link_to('Login', new_user_session_path, class: "nav_link") %>
    <% end %>
  </div>
  <h1 class="h1__home">Online lessons from<br>a certified teacher.</h1>
</nav>
