<nav class="nav-bar header__home">
  <%= link_to "Home", root_path, class: "nav_link" %>
  <%= link_to "Tutorials", tutorials_path, class: "nav_link" %>
  <header class="header__home">
    <h1>Welcome! Class is in session. </h1>
    <h2>Online lessons from a certified teacher.</h2>
</header>
</nav>
