<nav class="nav-bar">
  <%= link_to "Home", root_path, class: "nav_link" %>
  <%= link_to "Tutorials", tutorials_path, class: "nav_link" %>
  <%= link_to "Contact", contact_path(@contact, :anchor => "form"), class: "nav_link" %>
</nav>
