<%= render partial: "shared/header" %>
<div class="container margin-top-100">
  <section>
    <div class=" col-xl-12">
      <h2 class="header__text-h2">One-on-one learning is one of the most effective ways to meet your child's needs. I specialize in reading, writing, and math subjects and can help your child excel in these areas.</h2>
      <h3 class="margin-top-50">I use the following 4-step process for all students.</h3>
    </div>
  </section>
  <section>
    <div class="hero-tutorials margin-top-50 col-xl-12">
      <div class="flex-container ">
        <div class="circle-container col-xl-3">
          <div class="parent-div">
            <div class="circle-yellow ">
              <div class="number">1</div>
            </div>
            <div class="dotted-line "></div>
          </div>
          <h2 class="tutoring__h2">Evaluate</h2>
          <p>Meet with your student to assess their learning</p>
        </div>
        <div class="circle-container col-xl-3">
          <div class="parent-div">
            <div class="circle-yellow ">
              <div class="number">2</div>
            </div>
            <div class="dotted-line "></div>
          </div>
          <h2 class="tutoring__h2">Plan</h2>
          <p>Create a learning plan based on the goals we set.</p>
        </div>
        <div class="circle-container col-xl-3">
          <div class="parent-div">
            <div class="circle-yellow ">
              <div class="number">3</div>
            </div>
            <div class="dotted-line "></div>
          </div>
          <h2 class="tutoring__h2">Teach</h2>
          <p>Schedule 30 minute sessions, progressively building skills.</p>
        </div>
        <div class="circle-container col-xl-3">
          <div class="circle-yellow">
            <div class="number">4</div>
          </div>
          <h2 class="tutoring__h2">Assess</h2>
          <p>Conduct an evaluation to measure progress.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h3 class="tutoring__h3 mt-5">Pricing</h3>
    <div class="flex-container__pricing-75 mt-5">
      <div class="circle-container-75 ">
        <div class="circle-yellow">
          <div class="number__pricing">$75</div>
        </div>
      </div>
      <div>
        <p>Required for all first time students.</p>
      </div>
    </div>
    <h4 class="header__text-h4 margin-top-50">Initial consultation and student evaluation.</h4>
  </section>
  <div class="dotted-line-100 col-xl-12 margin-top-50"></div>
  <section class="mt-5">
    <div class="flex-container__pricing">
      <div class="circle-container col-xl-5">
        <div class="circle-yellow">
          <div class="number__pricing">$40</div>
        </div>
        <h4 class="header__text-h4 margin-top-50">Private Tutoring</h4>
        <p>30 minute sessions</p>
      </div>
      <div class="circle-container col-xl-5">
        <div class="circle-yellow">
          <div class="number__pricing">$20</div>
        </div>
        <h4 class="header__text-h4 margin-top-50">Homework Help</h4>
        <p>30 minute sessions</p>
      </div>
    </div>
  </section>
</div>
