// color variables
$peach: hsl(28, 76%, 92%);
$blue: hsl(223, 98%, 16%);
$orange: hsl(8, 100%, 75%);
$pink: hsl(359, 91%, 82%);
$yellow: hsl(50, 90%, 65%);

// Typography
//font-weight: 400, 600, 700;
$Raleway: 'Raleway',
sans-serif;
$grover: 'Irish Grover',
cursive;

// Raleway
$regular400: 400;
$semibold600: 600;
$bold700: 700;


// dotted line styling
.dotted-line {
  margin: 0 8px;
  width: 150px;
  align-self: center;
  border-color: $blue;
  border-width: 2px;
  border-style: dashed none none none;
}

.dotted-line-100 {
  width: 100%;
  align-self: center;
  border-color: $blue;
  border-width: 2px;
  border-style: dashed none none none;
}

.dotted-line-33 {
  width: 33.33%;
  align-self: center;
  border-color: $blue;
  border-width: 2px;
  border-style: dashed none none none;
}

.width100 {
  width: 100%;
}

// <--- h1, h2, h3, h4, h5, h6 --->
.header__text-h1 {
  text-align: center;
  font-weight: $bold700;

}

// .header__text-h2 {

// }

.header__text-h3 {
  font-weight: $bold700
}

.header__text-h4 {
  font-weight: $semibold600;
}

// .header__text-h5

// .header__text-h6


// <--- header image/content --->
.nav__image {
  background-image: image-url('background-img.jpg');
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__header-blue {
  background-color: $blue;
  width: 800px;
  height: 150px;
  color: $peach;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__image-home {
  background-image: image-url('background-img.jpg');
  background-color: $blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__header-blue-home {
  background-color: $blue;
  width: 800px;
  height: 200px;
  color: $peach;
  margin-top: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// margin & padding
.align-center {
  text-align: center;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-25 {
  margin-top: 25px;
}

// yellow-form
 .section-yellow {
  background-color: $yellow;
  color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;

 }

 .form-yellow {
  padding: 64px 0;
  font-size: 1.5rem;
 }

 .form__text-area {
    width: 100%;
    border-radius: 4px;
    border: 4px solid $blue;
    background-color: $peach;
 }
