// color variables
$peach: hsl(28, 76%, 92%);
$blue: hsl(209, 88%, 28%);
$orange: hsl(8, 100%, 75%);
$pink: hsl(359, 91%, 82%);

// Typography
$Raleway: 'Raleway', sans-serif;
//font-weight: 300, 400;

$grover: 'Irish Grover', cursive;
