// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// color variables
$peach: hsl(28, 76%, 92%);
$blue: hsl(227, 18%, 39%);
$orange: hsl(8, 100%, 75%);

// Typography
$Raleway: 'Raleway', sans-serif;
//font-weight: 300, 400;
$sofia: 'Sofia', cursive;


body {
  margin: 0;
  font-family: $Raleway;
  font-weight: 300;
  background-color: $peach;
  color: $blue;
}

.quote {
  font-family: $sofia;
  text-align: center;
  font-size: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: $blue;
  margin: 24px 0;
    :visited {
      color: $blue;
  }
}

.nav_link {
  padding: 0 18px;
  text-transform: uppercase;
}

.h1__home {
  text-align: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  width: 50%;
  border: 1px dotted $orange;
  padding: 32px 0;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.hero__p {
  margin: 0 25px;
}

.steps_container {
  width: 50%;
  margin: 0 auto;
}

.steps_container--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-content: center;
  grid-column-gap: 1rem;
}

.container__text {
  background-color: $orange;
  text-align: center;
  width: 100%;
  margin-bottom:50px;
}

.contact_form_container {
  width: 50%;
  margin: 0 auto;
  background-color: $blue;
  color: $peach;
}

.contact_form {
  display: grid;
  justify-content: center;
  :hover {
    cursor: url("pencil.png"), pointer ;
  }
}

.contact-form-text-area {
  width: 100%;
  border-radius: 4px;
  border: none;
}

.form_label {
  margin-top: 18px;
  margin-bottom: 0px;
}

footer {
  color: $peach;
  background: $blue;
  bottom: 0;
  height: 2rem;
}
